/* Your CSS here. */
.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    padding: 2em;
    margin: 10em 40em;
    background: black;
}

.avator {
    height: 5em;
    width: 5em;
    border-radius: 100%;
}